{% if tweets %}
    <h2>{{ name }} tłits</h2>
    <ul id="tweetbox">
        {% if show_input %}
            <li>{% include 'new_tweet_form.html' with form=new_tweet_form %}</li>
        {% endif %}
        {% for tweet in tweets %}
            <li class="tweet">
                <div class="header">
                    <a href="{% url 'person' tweet.author.username %}">
                        <span class="author-name">{{ tweet.author }}</span>
                        <span class="author-username">@{{ tweet.author.username }}</span>
                    </a>
                    <span class="timestamp" data-toggle="tooltip" title="{{ tweet.timestamp }}">{{ tweet.timestamp | timesince }} ago</span>
                </div>
                <div class="content"><p>{{ tweet.body }}</p></div>
                {% if tweet.author == user %}
                    <form action="{% url 'delete_tweet' tweet.pk %}?next={{ request.path }}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="clear" value="Delete tłit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <h2>No tłits found!</h2>
{% endif %}
