{% extends "base.html" %}

{% block title %}Change password | {{ block.super }}{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
    <form class="form" id="form-change-password" action="{% url 'password_change' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <h6 class="form-heading">Please fill the form below to change your password</h6>
        {% include 'error_form.html' with errors=form.non_field_errors %}
        {% include 'error_form.html' with errors=form.old_password.errors %}
        {{ form.old_password }}
        {% include 'error_form.html' with errors=form.new_password1.errors %}
        {{ form.new_password1 }}
        {% include 'error_form.html' with errors=form.new_password2.errors %}
        {{ form.new_password2 }}
      <button class="btn btn-primary btn-block" type="submit">Change password</button>
    </form>
{% endblock %}