{% extends 'base.html' %}

{% block title %}Update profile | {{ block.super }}{% endblock %}

{% block content %}
    <form class="form" id="form-person-update" action="{% url 'person_update' %}" method="post">
        {% csrf_token %}
        <h3 class="form-heading">Please edit your profile</h3>
        {% include 'error_form.html' with errors=form.non_field_errors %}
        {% include 'error_form.html' with errors=form.first_name.errors %}
        {{ form.first_name }}
        {% include 'error_form.html' with errors=form.last_name.errors %}
        {{ form.last_name }}
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
{% endblock %}