{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and user != person %}
        {% if follows %}
            <form action="{% url 'unfollow' person.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Unfollow</button>
            </form>
        {% else %}
            <form action="{% url 'follow' person.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}
    {% include 'tweets.html' with name=person_name tweets=tweet_list show_input=False %}
{% endblock %}